<div class="payment-options text-center d-flex flex-column flex-md-row justify-content-center">
    <div class="text-center mr-md-4">
        <img
            alt="American Express"
            loading="lazy"
            src="{{ 'payment-amex.svg' | asset_url }}"
            height="40"
        />
        <img
            alt="Apple Pay"
            loading="lazy"
            src="{{ 'payment-applepay.svg' | asset_url }}"
            height="40"
        />
        <img
            alt="Visa"
            loading="lazy"
            src="{{ 'payment-visa.svg' | asset_url }}"
            height="40"
        />
    </div>
    <div class="mt-2 mt-md-0 text-center">
        <img
            alt="MasterCard"
            loading="lazy"
            src="{{ 'payment-mastercard.svg' | asset_url }}"
            height="40"
        />
        <img
            alt="PayPal"
            loading="lazy"
            src="{{ 'payment-paypal.svg' | asset_url }}"
            height="40"
        />
    </div>
</div>
