<section class="d-flex flex-column justify-content-center align-items-center p-0 py-md-3" style="background-color: {{ options.background_color }};">
  <div class="py-5 container product-advert">
      <div class="row">
          <div class="col-12 col-md-4">
              <div class="content">
                  <h2 class="gkit-h2 mb-4 title">{{ options.title }}</h2>
                  <p class="gkit-p-15 mt-2">{{ options.content_body }}</p>
                  {% if options.button_link %}
                      <div class="center-small">
                          <a class="{% if options.button_size %} gkit-btn-{{options.button_size}} {% if options.button_size == "lg" %} gkit-btn-wide {% endif%} {% else %}gkit-btn-lg gkit-btn-wide {% endif%} gkit-primary mt-4" href="{{ options.button_link }}">{{ options.button_text }}</a>
                      </div>
                  {% endif %}
              </div>
          </div>
          <div class="col-12 col-md-4">
              <div class="horizontal-positive-points row">
                  <div class="d-flex flex-row">
                      {% if options.selling_point_image_1 %}
                          <img loading="lazy" class="mr-3" src="{{ options.selling_point_image_1 | img_url: "300x" }}" width="45" height="40"/>
                      {% endif %}
                      <div class="point-content mx-0">
                          <h3 class="gkit-p-17 gkit-bold">{{ options.selling_point_title_1 }}</h3>
                          <p class="gkit-p-13 m-0">{{ options.selling_point_content_1 }}</p>
                      </div>
                  </div>
                  <div class=" d-flex flex-row mt-3">
                      {% if options.selling_point_image_2 %}
                          <img loading="lazy" class="mr-3" src="{{ options.selling_point_image_2 | img_url: "300x" }}" width="45" height="40"/>
                      {% endif %}
                      <div class="point-content mx-0">
                          <h3 class="gkit-p-17 gkit-bold">{{ options.selling_point_title_2 }}</h3>
                          <p class="gkit-p-13 m-0">{{ options.selling_point_content_2 }}</p>
                      </div>
                  </div>
                  <div class="d-flex flex-row mt-3">
                      {% if options.selling_point_image_3 %}
                          <img loading="lazy" class="mr-3" src="{{ options.selling_point_image_3 | img_url: "300x" }}" width="45" height="40"/>
                      {% endif %}
                      <div class="point-content mx-0">
                          <h3 class="gkit-p-17 gkit-bold">{{ options.selling_point_title_3 }}</h3>
                          <p class="gkit-p-13 m-0">{{ options.selling_point_content_3 }}</p>
                      </div>
                  </div>
              </div>
          </div>
          {% if options.product_image %}
          <!-- <div class="col-12 col-md-4 content mt-4 mt-md-0"> -->
              <div class="col-12 col-md-4 mt-4 mt-md-0">
                <img loading="lazy" class="w-100 mt-3 mt-md-0 product-advert-image" src="{{ options.product_image | img_url: '1200x' }}" />
              </div>
          {% endif %}
      </div>
  </div>
</section>