{% assign collection = collections['popular-products'] %}

{% unless removeContainer %}
    {% assign containerClasses = 'container' %}
{% else %}
    {% assign containerClasses = '' %}
{% endunless %}

{% unless bordered %}
    {% assign containerClasses = containerClasses | prepend: 'my-4 my-md-5 ' %}
{% else %}
    {% assign containerClasses = containerClasses | prepend: 'mb-5 pb-5 border-bottom ' %}
{% endunless %}

{% unless removeLimit %}
    {% assign limit = 4 %}
{% else %}
    {% assign limit = 999 %}
{% endunless %}

<div id="shopify-section-misc-collection-product" class="shopify-section">
  <section class="{{ containerClasses }}">
      <div class="mb-4 mb-md-5 wow fadeInUp md-none" data-wow-duration="0.5s">
          <h2 class="text-center gkit-h2">{{ collection.title }}</h2>
      </div>

      <div class="row">
          {% for product in collection.products limit: limit %}

              {% if forloop.first %}
                  {% assign animationTime = 0.75 %}
              {% else %}
                  {% assign animationTime = animationTime | plus: 0.10 %}
              {% endif %}

              <div class="col-6 col-md-6 col-lg-3 wow fadeInUp" data-wow-duration="{{ animationTime }}s">
                  <div class="d-flex flex-column pb-4 h-100">
                      <a class="d-block" href="{{ product.url }}">
                          <img loading="lazy" class="w-100 product_image" src="{{ product.images[0] | img_url: '600x600', crop: 'center' }}" alt="{{ product.title }}">

                          <div class="d-flex flex-column flex-grow-1 px-0 pt-3 text-center">
                              <p class="mb-1 gkit-p-15"><strong>{{ product.title }}</strong></p>
                              <p class="mb-1 gkit-p-13 mt-2 gray-1 ">{{ product.vendor }}</p>
                              <p class="gkit-p-15 mb-3 mt-1 gkit-regular">{{ product.price | money }}</p>
                          </div>
                      </a>
                  </div>
              </div>

          {% endfor %}


      </div>
  </section>
</div>