<section class="sustainability-05 sustainability-section__container" style="background-color: {{ background_colour }}; color: {{ text_colour }};">
    <div class="sustainability-section__content-container">
        <div class="overflow-container">

          <div class="sustainability-section__inner-content">
            {% if title != blank or paragraph != blank %}
            <div class="sustainability-05__text text-center text-lg-left" id="animatable-section-five-content">
              {% if title != blank %}
              <h2 class="sustainability-section__title gkit-h0 mb-4">{{ title | escape }}</h2>
              {% endif %}

              {% if paragraph != blank %}
              <div class="sustainability-section__body gkit-p-20">{{ paragraph }}</div>
              {% endif %}
            </div>
            {% endif %}

            {% if video != blank %}
            <div class="sustainability-05__video">
              <div class="embed-responsive embed-responsive-16by9 mb-5">
                <video class="embed-responsive-item" width="320" height="240" autoplay playsinline loop muted>
                  <source src="{{ video }}" type="video/mp4">
                </video>
              </div>
            </div>
            {% elsif image != blank %}
            <div class="sustainability-05__image" id="animatable-section-five-media">
              <img src="{{ image | img_url: '800x' }}" />
            </div>
            {% endif %}
          </div>
        </div>
    </div>
</section>