{%- liquid
  assign image = section.settings.image
  assign bookingsTitle = section.settings.bookingsTitle
  assign bookingsDescription = section.settings.bookingsDescription
  assign bookingsButton = section.settings.bookingsButton
  assign openingTitle = section.settings.openingTitle
  assign menusTitle = section.settings.menusTitle
  assign resyVenueId = section.settings.resyVenueId
  assign resyApiKey = section.settings.resyApiKey
  assign blocks = section.blocks
-%}

<section class="container py-md-5">
  <div class="row flex-column-reverse flex-md-row">
    <div class="col-12 col-md-8 pt-3 pt-md-0">
      <div class="venue-menu_image-container d-none d-md-block" style="background-image: url('{{ image.src | img_url: "600x600" }}'); height: 400px;"></div>
      <div class="container pt-3 px-3 px-md-0">
        <div class="row flex-column-reverse flex-md-row">
          <div class="col-12 col-md-6 pt-3 pb-5 pb-md-3 wow fadeInUp">
            <h2 class="gkit-h2 mb-4">{{ bookingsTitle }}</h2>
            <div class="gkit-p-17 gkit-light">{{ bookingsDescription }}</div>
            {% if bookingsButton != blank %}
              <input class="gkit-btn-lg gkit-primary mt-3"
                onClick="resyOpenModalMenu()"
                type="button"
                value="{{ bookingsButton }}"
              >
            {% endif %}
          </div>      
          <div class="col-12 venue-menu_image-container d-block d-md-none" style="background-image: url('{{ image.src | img_url: "600x600" }}'); height: 175px;"></div>
          <div class="col-12 col-md-5 offset-md-1 p-3">
            <h2 class="gkit-h2 mb-4 wow fadeInUp" data-wow-delay="0.25s">{{ openingTitle }}</h2>
            <ul class="p-0 mb-4 wow fadeInUp" data-wow-delay="0.5s">
              {% for block in blocks %}
                {% if block.type == 'openingTimes' %}
                  <li class="gkit-p-17 d-flex justify-content-between">
                    <span class="gkit-bold text-capitalize w-100">
                      {{- block.settings.title -}}:
                    </span>
                    <span class="w-100 gkit-light">
                      {{- block.settings.timing -}}
                    </span>
                  </li>
                {% endif %} 
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 px-0 px-md-3">
      <div class="venue-menu_menu-container w-100 p-3" style="background: linear-gradient(0deg, #EFEFF4, #EFEFF4), linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('{{ 'menu_background.png' | asset_url }}')">
        <h2 class="gkit-h2 mt-4 ml-4 ml-md-0 mb-4">{{ menusTitle }}</h2>
        <div id="venue-menu" class="bg-white" style="box-shadow: 0px 4px 8px rgba(55, 50, 45, 0.15);">
          <ul class="m-0 p-0" style="list-style-type: none;">
            {% for block in blocks %}
              {% if block.type == 'menus' %}
                <li class="gkit-light mb-4 wow fadeInUp">
                  {%- if block.settings.menuUrl != blank -%}
                    <a href="{{ block.settings.menuUrl }}" target="_blank" class="gkit-p-17 gkit-bold" style="text-decoration: underline;">
                  {% else %}
                    <p class="gkit-p-17 gkit-bold mb-0" style="text-decoration: underline;">
                  {%- endif -%}
                    {{- block.settings.title -}}
                  {%- if block.settings.menuUrl != blank -%}
                    </a>
                  {% else %}
                    </p>
                  {%- endif -%}
                  <div class="gkit-p-17 gkit-light">
                    {{- block.settings.menuDescription -}}
                  </div>
                </li>
              {% endif %} 
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Venue Detail",
  "blocks": [
    {
      "type": "openingTimes",
      "name": "Opening Times",
      "settings": [
        {
          "type": "select",
          "id": "title",
          "label": "Day of Week",
          "options": [
            {
              "value": "monday",
              "label": "Monday"
            },
            {
              "value": "tuesday",
              "label": "Tuesday"
            },
            {
              "value": "wednesday",
              "label": "Wednesday"
            },
            {
              "value": "thursday",
              "label": "Thursday"
            },
            {
              "value": "friday",
              "label": "Friday"
            },
            {
              "value": "saturday",
              "label": "Saturday"
            },
            {
              "value": "sunday",
              "label": "Sunday"
            }
          ],
          "default": "monday"
        },
        {
          "type": "text",
          "id": "timing",
          "label": "Timing"
        }
      ]
    },
    {
      "type": "menus",
      "name": "Menus",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Menu Name"
        },
        {
          "type": "richtext",
          "id": "menuDescription",
          "label": "Menu Description"
        },
        {
          "type": "url",
          "id": "menuUrl",
          "label": "URL for Menu PDF"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "bookingsTitle",
      "label": "Bookings & Reservations Title"
    },
    {
      "type": "richtext",
      "id": "bookingsDescription",
      "label": "Bookings & Reservations Description"
    },
    {
      "type": "text",
      "id": "bookingsButton",
      "label": "Bookings & Reservations Button"
    },
    {
      "type": "text",
      "id": "openingTitle",
      "label": "Opening Times Title"
    },
    {
      "type": "text",
      "id": "menusTitle",
      "label": "Menus Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Section Image"
    },
    {
      "type": "header",
      "content": "Resy Settings"
    },
    {
      "type": "text",
      "id": "resyApiKey",
      "label": "API Key"
    },
    {
      "type": "text",
      "id": "resyVenueId",
      "label": "Venue ID"
    }
  ]
}
{% endschema %}

<script type="text/javascript">
  function resyOpenModalMenu() {
    resyWidget.openModal({'venueId': {{ resyVenueId }}, 'apiKey': '{{ resyApiKey }}'});
  }
</script>