{% liquid 
  assign topColorStart = section.settings.topColorStart  
  assign topColorEnd = section.settings.topColorEnd  
  assign bottomColorStart = section.settings.bottomColorStart  
  assign bottomColorEnd = section.settings.bottomColorEnd  
  assign bottomColorExtra = section.settings.bottomColorExtra  
  
%}

<section class="getting-started" style="color: {{ section.settings.text_colour }}">
  <div class="getting-started__intro-bkg position-relative">
    <div class="position-absolute" style="top: 0; left: 0; right: 0; bottom: 0; background: linear-gradient(180deg, {{ topColorStart }} 6.25%, {{ topColorEnd }} 72.92%);"></div>
    <div class="container">
      <div class="row getting-started__intro-row">
        <div class="col-12 col-sm-6 getting-started__text">
          {% if section.settings.heading != blank %}
            <h2 class="getting-started__heading">{{ section.settings.heading }}</h2>
          {% endif %}

          {% if section.settings.description != blank %}
            <div class="getting-started__description">{{ section.settings.description }}</div>
          {% endif %}

          {% if section.settings.button_label != blank %}
            <div class="getting-started__link-button-wrapper">
              <a class="gkit-btn-lg gkit-tertiary gkit-btn-superwide text-white"
              style="color: {{ section.settings.button_text }}; background-color: {{ section.settings.button_background }};"
              href="{{ section.settings.button_link | escape }}">{{ section.settings.button_label}}</a>
            </div>
          {% endif %}
        </div>
        
        <div class="col-12 col-sm-6 getting-started__image-col">
          {% if section.settings.image != blank %}
            <img loading="lazy" class="getting-started__image" src="{{ section.settings.image | image_url }}" />
          {% endif %}
        </div>
      </div>

    </div>
  </div>

  <!-- Cards -->
  <div class="getting-started__lower-bkg position-relative">
    <div class="position-absolute" style="top: 0; left: 0; right: 0; bottom: 0; background: linear-gradient(180deg, {{ bottomColorStart }} 0%, {{ bottomColorEnd }} 100%), {{ bottomColorExtra }};"></div>
    <div class="container">
      <div class="getting-started__grid row">
        {%- for block in section.blocks -%}
        {%- case block.type -%}
        {%- when 'getting_started_card' -%}
        <!-- Image generation -->
        <!-- Card markup -->
        <div class="getting-started-card col-12 col-sm-6 col-lg-3">
          <div class="getting-started-card__content">
            <div class="getting-started-card__icon-wrapper">
              {% if block.settings.image != blank %}
                <img loading="lazy" class="getting-started-card__icon" src="{{ block.settings.image | image_url }}" />
              {% endif %}
            </div>
            
            <div class="getting-started-card__text">
              {% if block.settings.heading != blank %}
                <h3 class="getting-started-card__heading">{{ block.settings.heading | escape}}</h3>
              {% endif %}
        
              {% if block.settings.description != blank %}
                <div class="getting-started-card__description">{{ block.settings.description }}</div>
              {% endif %}
            </div>
          </div>
        </div>
        {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Getting started",
  "max_blocks": 4,
  "blocks": [
    {
      "type": "getting_started_card",
      "name": "Getting started card",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Lorem ipsum"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Lorem ipsum"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "Lorem ipsum"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Icon"
    },
    {
      "type": "header",
      "content": "Design & Layout"
    },
    {
      "type": "color",
      "id": "text_colour",
      "label": "Text colour",
      "default": "#2D2926"
    },
    {
      "type": "color",
      "id": "button_background",
      "label": "Button background colour",
      "default": "#2D2926"
    },
    {
      "type": "color",
      "id": "button_text",
      "label": "Button text colour",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "topColorStart",
      "label": "Intro Section Gradient Start",
      "default": "#FEF8F4"
    },
    {
      "type": "color",
      "id": "topColorEnd",
      "label": "Intro Section Gradient End",
      "default": "#F5DADF"
    },
    {
      "type": "color",
      "id": "bottomColorStart",
      "label": "Bottom Section Gradient Start",
      "default": "#F6DBE0"
    },
    {
      "type": "color",
      "id": "bottomColorEnd",
      "label": "Bottom Section Gradient End",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "bottomColorExtra",
      "label": "Bottom Section Gradient Extra",
      "default": "#F6DBE0"
    }
  ],
  "presets": [
    {
      "name": "Getting started"
    }
  ]
}
{% endschema %}