<section class="product-cta-section">
  <div product-cta-section__background" style="color: {{ section.settings.text_colour }}; background-image: url({{ section.settings.bkg_image | image_url }});">
    <div class="container">
      <div class="row product-cta-section__content">
        <div class="product-cta-section__product-image-wrapper">
          {% if section.settings.product_image != blank %}
          <img loading="lazy" class="product-cta-section__product-image" src="{{ section.settings.product_image | image_url }}" />
          {% endif %}
        </div>
        <div class="product-cta-section__text-wrapper">
          {% if section.settings.heading != blank %}
            <h2 class="product-cta-section__heading">{{ section.settings.heading }}</h2>
          {% endif %}

          {% if section.settings.text != blank %}
            <div class="product-cta-section__text">{{ section.settings.text }}</div>
          {% endif %}

          {% if section.settings.button_label != blank %}
            <a class="gkit-btn-lg gkit-secondary gkit-btn-wide"
              style="color: {{ section.settings.button_text_colour }}; border-color: {{ section.settings.button_border_colour }};"
              href="{{ section.settings.button_link | escape }}">{{ section.settings.button_label}}</a>
          {% endif %}
        </div>
        
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Product CTA",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Lorem ipsum"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Tempora sint inventore omnis qui maiores nostrum consequatur et. Ducimus ut ducimus totam ex aliquam. Mollitia accusantium laboriosam autem. Commodi in qui ipsum.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "Lorem ipsum"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "image_picker",
      "id": "product_image",
      "label": "Product image"
    },
    {
      "type": "header",
      "content": "Design & Layout"
    },
    {
      "type": "image_picker",
      "id": "bkg_image",
      "label": "Background image"
    },
    {
      "type": "color",
      "id": "text_colour",
      "label": "Text colour",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "button_text_colour",
      "label": "Button text colour",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "button_border_colour",
      "label": "Button border colour",
      "default": "#FFFFFF"
    }
  ],
  "presets": [
    {
      "name": "2021 Product CTA"
    }
  ]
}
{% endschema %}