{%- assign article_summary = article.excerpt -%} {%- assign article_title =
article.title -%}

<div class="masthead masthead-feature js-masthead">
  <div class="container">
    <div class="mx-auto text-center masthead-content">
      <h1 class="blog-title wow fadeInUp" data-wow-delay=".75s">
        {{ article_title }}
      </h1>
      {% if article_summary != blank %}
      <p class="mb-0 gkit-p-20 gkit-light wow fadeInUp" data-wow-delay="1s">
        {{ article_summary }}
      </p>
      {% endif %}
    </div>
  </div>
</div>

<div class="mb-4 mb-sm-5 container grind-article">
  {% if article.image %}
  <div class="p-md-4 bg-white">
    <div class="article-image mb-4 mb-md-5 mx-lg-auto breakout img-fluid wow fadeInUp" style="background-image: url({{ article.image | img_url: '960x600', crop: 'center', scale: 2 }});"></div>
    <!-- <img
      loading="lazy"
      src="{{ article.image | img_url: '960x720', crop: 'center' }}"
      alt="{{ article.title }}"
      class="d-block mb-4 mb-md-5 mx-lg-auto breakout img-fluid wow fadeInUp"
    /> -->
  </div>
  {% endif %}

  <div class="content-block">
    <div class="inner reduced">
      {{ article.content }}
    </div>
    <div class="inner reduced">
      <a href="/blogs/{{ blog.handle }}" class="gkit-btn-md gkit-secondary btn-back-js mt-4">« Back To All Posts</a>
    </div>
  </div>
  <script>
  </script>
</div>
